//colors
$teal: #076261;
$darkBrown: #896c2f;
$lightBrown: #c5a65d;
$peach: #f8e9d1;
$mutedBlue: #7faba4;
$vividBlue: #159cc3;
$sandBeige:#e6cc91;
$khaki: #7a7d57;
$grey: #b0b3a7;
$white: #fcfaf2;

//font sizes
$font-sm: 0.875rem;
$font-med: 1.125rem;